[submodule "deps/eigen-git-mirror"]
	path = deps/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "deps/cgal"]
	path = deps/cgal
	url = https://github.com/CGAL/cgal.git
