language: cpp

compiler:
  - gcc
#  - clang


env:
#  - BTYPE="-DCMAKE_BUILD_TYPE=Debug -DWITH_QGLVIEWER=true -DBUILD_TESTING=OFF"
#  - BTYPE="-DCMAKE_BUILD_TYPE=Debug -DWITH_CAIRO=true -DBUILD_TESTING=OFF"
#  - BTYPE="-DCMAKE_BUILD_TYPE=Debug -DWITH_MAGICK=true -DWITH_GMP=true -DBUILD_TESTING=OFF"
#  - BTYPE="-DCMAKE_BUILD_TYPE=Release  -DBUILD_TESTING=OFF"
  - BTYPE="-DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DBUILD_EXAMPLES=OFF"

before_script:
  - sudo apt-get -qq install libboost-program-options-dev
## libcairo2-dev libgraphicsmagick++1-dev libboost-system-dev libgmp-dev libqglviewer-qt4-dev

before_install:
  - sudo pip install cpp-coveralls --use-mirrors
 # - git clone https://github.com/dcoeurjo/cpp-coveralls.git
 # - cd cpp-coveralls
 # - sudo python setup.py install
 # - cd ..


matrix:
  exclude:
    - compiler: gcc
      env: BTYPE="-DCMAKE_BUILD_TYPE=Debug -DWITH_QGLVIEWER=true -DBUILD_TESTING=OFF"
    - compiler: gcc
      env: BTYPE="-DCMAKE_BUILD_TYPE=Debug -DWITH_CAIRO=true -DBUILD_TESTING=OFF"
    - compiler: gcc
      env: BTYPE="-DCMAKE_BUILD_TYPE=Debug -DWITH_MAGICK=true -DWITH_GMP=true -DBUILD_TESTING=OFF"
    - compiler: clang
      env: BTYPE="-DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=OFF"


script:
  - cmake . $BTYPE
  - make DGtal
  - make DGtalIO
  - cd examples
  - make
  - cd ../tests
  - make
  - cd ..
  - make

after_script:
  - make test
  - coveralls --exclude lib --exclude tests -e /usr/include --encoding latin-1
